.div-header {
  margin: 0 auto;
  padding: 20px;
  background-color: #282c34;
  color: white;
}
	
.div-content {
  margin: 0 auto;
  padding: 20px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
