html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.header {
	background-color: #282c34;
	padding: 60px;
	text-align: center;
	color: white;
	min-height: 200px;
	align-items: center;
}

div.content {
	margin: 0 auto;
	padding: 20px;
}

div.responsive {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
		
div.column {
	float: left;
	width: 33.33%;
	text-align: center;
}
		
div.half {
	transform: scale(0.5);
}
